@mixin inner($width: 1278px) {
  width: $width;
  margin: 0 auto;
  border: 1px solid $color-accent;
}

@mixin section-title {
  font-family: $font-title;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  color: $color-accent;
  text-align: center;
}
